.title {
    text-align: center;
    /*border-bottom: 1px solid #C9E0ED;*/
}

h4 {
    margin: 0;
}

 /*стили списка, строк и элементов*/
.list .row {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.list {
 font-size: 14pt;
}

.row .item-input {
    color: #111;
    font: italic 16px monospace;
}

.row .item-input.button input {
    height: 30px;
}

.row .item-input.description textarea{
    height: 100px;
}

.row .item-input.description.div{
    padding: 0px 15% 0px 15%;
    text-align: left;
}

.row.borders {
    border-bottom: 1px solid lightgrey;
    padding: 20px;
}

.title-text {
    padding-top: 10px;
    text-align: center;
}

.row.buttons.addComment {
    text-align: right;
    margin-right: 180px;
}

.description {
    text-align: center;
}

.item .buttonEdit,
.item .buttonDel {
    margin: 0;
    cursor: pointer;
    padding-left: 5px;
}

textarea,
.item-input.textField input{
    font-size: 14pt;
    padding: 5px;
    width: 600px;
    border: 2px solid #C9E0ED;
    resize: none;
    /* Для хороших браузеров */
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    /* Для плохих IE */
}

.comment {
    text-align: center;
}

.comment textarea {
    width: 500px;
    height: 100px;
}
