.title {
    text-align: center;
    /*border-bottom: 1px solid #C9E0ED;*/
}

.record .title {
    text-align: left;
    padding-left: 100px;
}

.record .text {
    padding-left: 150px;
    color: #111;
    padding-top: 10px;
    font: italic 14px monospace;
}

.row .record{
    border-top: 1px solid lightgrey;
    padding: 20px;
}

.title-text {
    padding-top: 10px;
    text-align: center;
}

.row.buttons.addComment {
    text-align: right;
    margin-right: 180px;
}

.description {
    text-align: center;
}

textarea {
    padding: 5px;
    width: 600px;
    border: 2px solid #C9E0ED;
    resize: none;
    /* Для хороших браузеров */
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    /* Для плохих IE */
}

.comment {
    text-align: center;
}

.comment textarea {
    width: 500px;
    height: 100px;
}
