assets
.idea/
protected/runtime/
framework/cli/runtime/
framework/cli/views/shell/module/components/
framework/cli/views/shell/module/messages/
framework/cli/views/shell/module/models/
framework/cli/views/shell/module/views/layouts/
images/
protected/commands/
protected/extensions/
protected/messages/
protected/migrations/
protected/tests/fixtures/
protected/tests/report/
protected/tests/unit/
protected/vendor/
public/
themes/classic/views/layouts/
themes/classic/views/site/
themes/classic/views/system/
/yii-1.1.19.5790cb/
/yii/
/protected/yiic
/protected/yiic.bat
/protected/yiic.php
